.digitRecognizer {
  margin-bottom: 20px;
}

.canvas {
  display: block;
  margin-top: 20px;
}

.canvasContainer {
  display: flex;
  align-items: center;
}

.prediction {
  margin-left: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.controls label {
  margin-bottom: 5px;
}

.controls label input {
  margin-left: 5px;
}

.clearButton {
  margin-top: 5px;
}

.recognizeButton {
  margin-top: 10px;
}
